{% extends "core/base.html" %}

{% block content %}
    <h1 class="cover-heading">Writing Technical Article is already challenging, finding topics shouldn't
        pose an additional challenge</h1>
    <p class="lead"></p>
    <hr style="color:white;">
    {#            <div id="counter">#}
    {#                <h1 id="counter" class="cover-heading">We have generated <span>{{ counter }}</span> TItle{{ counter | pluralize }} so far</h1>#}
    {#            </div>#}
    <form method="POST" id="topic-form" class="mb-4">
    {% csrf_token %}
        <div class="form-group pt-4">
            <input type="text" name='input_topic' class="form-control form-control-lg" id="topic"
                   placeholder="Enter a Word/Phrase e.g Django Models..." autocomplete="off">
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ form.category }}

            </div>
            <div class="col-md-4">
                <input name='title_count' class="form-control form-control-lg" type="number" min="1" max="10"
                       placeholder="7" id="id_count">
            </div>
        </div>
    </form>
    <p class="lead">
        <button type="submit" class="btn btn-lg btn-secondary" id="generate-button"
                onclick="sendRequest();">Generate Topics
        </button>
        <button class="btn btn-lg btn-success" onclick="reset();" id="reset-button">Reset</button>
    </p>
    <div id="topic-container">
        <h3 class="mt-2 mb-1 cover-heading">Generated Topics</h3>
        <p id="exists"></p>
        <ul class="list-group list-group-flush mb-3" id="topic-list">

        </ul>
    </div>
    <div class="pt-5">
        <h1 id="about-me" class="cover-heading">About</h1>
        <p>Topics Generator is an online tool designed to help you generate creative, interesting and engaging topics
            for
            your content. Our intuitive user interface and powerful algorithms make it easy to quickly generate ideas
            for
            articles, blog posts, essays, and more. whether you’re a writer, editor, or content creator, Topics
            Generator is
            the perfect tool to help you come up with new ideas and keep your content fresh.</p>
    </div>

    <footer class="mastfoot mt-auto">
        <div class="inner" id="contact">
            <p>Made with Love <a href="https://www.linkedin.com/in/lawal-afeez/">by Lawal Afeez</a> |
                <a href="https://github.com/afeez1131">@afeez1131</a>.</p>
        </div>
    </footer>
    <script type="text/javascript">
        $(document).ready(
            documentReady()
        )

        function documentReady() {
            let topic = $('#topic');
            topic.focus()

            $('#topic-container').hide()
            if ($('#topic-container ul').html().trim().length === 0) {
                $('#reset-button').prop('disabled', true);
            }
        }

        let inputForm = document.getElementById('topic');
        inputForm.addEventListener('input', function () {
            let topic = $('#topic');
            if (topic.val() === "" || topic.val().length === 0) {
                console.log('emtpy')
                topic.addClass('is-invalid')
            } else {
                topic.removeClass('is-invalid').addClass('is-valid');
            }
        })


        function reset() {
            $('#topic-container ul').html('');
            $('#topic-container').hide();
            $('#reset-button').prop('disabled', true);
        }

        function scrollTo(id) {
            document.querySelector('#' + id).scrollIntoView({behavior: 'smooth'});
        }

        $('#topic, #id_count, #id_category').keyup(function (e) {
            if (e.which === 13) {
                /* we only need the enter key press,
                * whenever any other key is pressed, do nothing
                * if enter is pressed, proceed. */
                if ($('#topic').val().trim().length !== 0) {
                    sendRequest();
                } else {
                    $.notify('Input cannot be empty', 'error');
                }
            }
        })

        /*function submitForm() {
            $('#topic-form').submit(function (e) {
                e.preventDefault();
                console.log('form submitted');
                if ($('#topic').val().trim().length !== 0) {
                    sendRequest();
                } else {
                    $.notify('Input cannot be empty', 'error');
                }

            })
        }*/


        function sendRequest() {
            if ($('#topic').val().trim().length !== 0) {
                $('#generate-button').html(`Generating <i class="fas fa-spinner fa-spin"></i>`)
                $.ajax({
                    url: "{% url 'send_request' %}",
                    type: "POST",
                    data: {
                        'topic': $('#topic').val(),
                        'count': $('#id_count').val(),
                        'category': $('#id_category option:selected').val(),
                        'csrfmiddlewaretoken': getCookie('csrftoken')
                    },
                    success: function (data) {
                        let objectData = data.data;
                        /*let exists = data.exist
                        if (exists === true) {
                            $('#exists').html(`We have some previously generated titles related to "${topic}"<br>
                                            Or you can generate a new one by clicking here`);
                        } else {
                            $('#exists').text('');
                        }*/
                        let topic = $('#topic').val();
                        $('#reset-button').prop('disabled', false);
                        $('#topic').val('')   // clear the value of the input
                        $('#id_count').val('')
                        $('#id_category option:first').prop('selected',true);
                        let arrayLength = objectData.length;
                        let output = ''
                        $('#generate-button').html("Generate Topics")
                        for (let i = 0; i < arrayLength; i++) {
                            $('#topic-list').val('')
                            output += `<li class="list-group-item d-flex justify-content-between align-items-center" id='topic-${i}'>${i+1}. <span>${objectData[i]}</span>
                            <button class="badge badge-secondary" onclick="copyTitle('${i}');">Copy <i class="fas fa-copy"></i></button>
                            </li>`
                        }
                        $('#counter span').text(data.counter)
                        $('#topic-list').html(output);
                        $.notify('success', 'success');
                        $('#topic-container h3').html(`Generated Titles for <b>${topic.toUpperCase()}</b>`)
                        $('#topic-container').show()
                    },
                    error: function () {
                        console.log('error occured')
                        $.notify('Error occured', 'error');
                    },

                })
            } else {
                $.notify('Input cannot be empty', 'error');
            }
        }

        function copyTitle(id) {
            let tid = $(`#topic-${id} span`).text().trim();

            let temp = document.createElement('input');
            temp.value = tid;
            document.body.appendChild(temp);
            temp.select()

            document.execCommand("copy");
            document.body.removeChild(temp);
            $.notify(`${tid} copied.`, 'success');

        }



    </script>
{% endblock %}

